{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<!DOCTYPE html>
<html>
<head>
	<title>Welcome to my page!</title>
</head>
<body>
	<!-- HEADER -->
	<div id="header">
		<h1 id="hello_message">Pandas</h1>
	</div>

	<!-- CONTENT -->
	<div id="content">
		<table>
			<tr>
				<td><img src="https://farm3.staticflickr.com/2703/4383007425_09f2445734.jpg" class="nice"></td>
				<td><img src="http://images6.fanpop.com/image/photos/34700000/Cute-Black-and-White-Panda-colors-34704878-2560-1600.jpg" class="nice"></td>
				<td><img src="../static/polls/monder.jpg" class="nice"></td>
				<td><img src="http://pandasaes.files.wordpress.com/2011/05/tww.jpeg" class="nice"></td>
				<td><img src="http://s.hswstatic.com/gif/panda-sleep-2.jpg" class="nice"></td>
			</tr>
			<tr>
				<td colspan="4"><object width="420" height="315"
data="https://www.youtube.com/watch?v=FXjILpRVu70">
</object>
</td>
			</tr>
		</table>		
		
		
	</div>

	<!-- FOOTER -->
	<div id="footer">
		<h2>Good luck!</h2>
	</div>

</body>
</html>